@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

*{
  font-family: "Poppins", sans-serif;
}

.font-marvel{
  font-family: "Bebas Neue", sans-serif;
}

button{
  cursor: pointer;
}

.cl-internal-1dauvpw{
  display: none;
}

.custom-container {
  @apply px-6 md:px-16 lg:px-24 xl:px-44 overflow-hidden;
}

@theme {
  --color-primary: #EC1D24;
  --color-primary-hover: #C4161C;
  --color-primary-light: #F56A6F;
}

html{
      scrollbar-color: red #111;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
}

body{
  background-color: #09090b;
  color: #ffffff;
}

.scroll-smooth{ 
  scroll-behavior: smooth;
}

